<div class="form">
  <h5>Enter you name please!</h5>
  <form action="/" method="POST">
    <input type="text" placeholder="name" oninput="checkData()" name="name" id="name">
    <input type="submit" value="submit">
  </form>
</div>
<script>
  function checkData() {
    const dataLength = 8;
    let nameInput = document.getElementById('name');
    let data = nameInput.value;
    if(data.length > dataLength) {
      nameInput.value = data.substring(0, dataLength);
      alert('name must be less then 8 characters long');
    }
  }
</script>